@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
body {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #3b3b3b;
    color: white;
    padding: 20px;
    /* pointer-events: none; */
}
#calendar {
    display: flex;
    margin-bottom: 13px;
}
/* .current-day {
    background-color: #71cbff;
    color: white;
    font-weight: bold;
} */
#add-task { 
    background-color: rgba(255, 255, 255, 0.216);
    border-radius: 15px;
    position: relative;
    height: 28px;
    padding-left: 18px;
    label {
        position: absolute;
        font-size: 16px;
        transition: 0.5s ease;
        top: 50%;
        transform: translateY(-50%);
    }
    input {
        position: absolute;
        border: none;
        background-color: transparent;
        height: 100%;
        width: 100%;
        outline: none;
        color: white;
    }
    input:focus~label,input:valid~label {
        display: none;
    }
    #repeat-task {
        position: absolute;
        right: 84px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 7px;
    }
    #repeat-task:hover {
        background-color: #3b3b3b;
    }
    #button-add-task {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 7px;
    }
    #button-add-task:hover {
        background-color: #3b3b3b;
    }
    #container-Date {
        display: inline-block;
        position: absolute;
        right: 135px;
        top: 97%;
        transform: translateY(-100%);
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 7px;
        width: 58.16px;
        height: 25px;
        #Date-input {
            position: absolute;
            width: 58.16px;
            height: 100%;
        }
    }
    #container-Date:hover {
        background-color: #3b3b3b;
    }
    #container-Date:focus-within {
        background-color: #3b3b3b;
    }
}
.task-bundle {
    height: 66px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 10px;
}
.task-contianer {
    position: relative;
    height: 11px;
    max-width: 64px;
    padding-left: 5px;
    display: inline;
    /* background-color: black; */
    label {
        font-size: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 14px;
    }
    input[type="checkbox"] {
        height: 10px;
        width: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        appearance: none;
        border-radius: 40%;
        border: 2px solid white;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        transition: background-color 0.3 ease;
    }
    input[type="checkbox"]:checked {
        background-color: white;
        border: white;
    }
}